//- html layout
html
  head
 
  body
    nav(class="navbar navbar-light bg-faded")
      a(type="button", href="/dashboard") dashboard <br>
      a(type="button", href="/createpost") new post <br>
      a(type="button", href="/register" style="center") register <br>
      a(type="button", href="/logout" style="float:right") logout <br>
      a(type="button", href="/login" style="float:right") login <br>
    h5 ALL POSTS
      ul
        each post in posts
          p
            li= post.createdAt
            li= post.title
            li= post.body
            //- li= post.userId
            //- li= post.id
            a(href="/onepost/" + post.id) open post



    //- render your content here from each page
    block content
