//- html layout
html
  body
    nav(class="navbar navbar-light bg-faded")
      a(type="button", href="/dashboard") Dashboard <br>
      a(type="button", href="/createpost") New post <br>
      a(type="button", href="/register" style="center") Register <br>
      a(type="button", href="/logout" style="float:right") Logout <br>
      a(type="button", href="/login" style="float:right") Login <br>
    h5 Check out some posts!
      ul
        each post in posts
          p
            li= post.createdAt
            li= post.title
            li= post.body
            //- li= post.userId
            //- li= post.id
            a(href="/onepost/" + post.id) Check out this post!



    //- render your content here from each page
    block content
