html
  head
    Blog Post in the Blog App  <br>
  body
    a(type="button", href="/dashboard") Dashboard <br>
    a(type="button", href="/logout" style="float:right") Logout <br>
    a(type="button", href="/") Home <br>
    p Create your post here!
      form( action="/", method="post" )
        input( type="text", name="title", placeholder="Post title" )
        textarea( type="text", name="body", rows="5", cols="80", placeholder="Write your message here." )
        input( type="submit" )