form( action="/", method="post" )
  a.btn(href="./") home
  span(id="error")
  input( type="password", name="password", placeholder="your password", style="float:right")
  input( type="text", name="username", placeholder="your username", style="float:right")
  input( type="submit", style="float:right")
