//- html layout
html
  head

  body
    nav
      form( action="/", method="post" )
        a.btn(href="./register") register
        span(id="error")
        input( type="password", name="password", placeholder="your password", style="float:right")
        input( type="text", name="username", placeholder="your username", style="float:right")
        input( type="submit", style="float:right")
    h3 You have entered an incorrect password.



    //- render your content here from each page
    block content
