//- html layout
html
  head

  body
    nav
      form( action="/", method="post" )
        //- link to register page
        a.btn(href="./register") register
        //- login for users
        span(id="error")
        input( type="password", name="password", placeholder="your password", style="float:right")
        input( type="text", name="username", placeholder="your username", style="float:right")
        input( type="submit", style="float:right")
    h3 Wrong password or username dummy. Try again please



    //- render your content here from each page
    block content
